<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite test for walmart">
<listeners>
<listener class-name="Listener.WListener"/>

</listeners>


  <test name="Test for signin">
    <classes>
      <class name="TestCases.walmartSignInTest"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test name="Test for search">
    <classes>
      <class name="TestCases.WalmartSearchTest"/>
    </classes>
  </test> <!-- Test -->
  
  
   <test name="Test for furnitureSearch">
    <classes>
      <class name="TestCases.WalmartBedroomFurnitureTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
